.b {

}

body {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  border: solid red 3px;
  padding: 20px;
  margin-top: 20%;
  background: lightblue;
  max-width: 100%;
}
